################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bin/AnyCPU/Debug
/bin/AnyCPU/Release
/EFCore.Migration/.vs
/EFCore.Migration/obj
